<!DOCTYPE html>
<html>
<head>
	<title>Portugese</title>
</head>
<body>
	<h1>Portugese Page</h1>
	<ul id="lang">
	  <li><a href="/french">French</a></li>
	  <li><a href="/portugese">Portuguese</a></li>
	  <li><a href="/japanese">Japanese</a></li>
	</ul>
</body>
<script
  	src="https://code.jquery.com/jquery-3.3.1.min.js"
  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  	crossorigin="anonymous"
  >
  </script>
	<script src="languageSwitcher.js"></script>
</html>